@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0f172a;
  display: block; /* Overrides the default 'flex' that breaks centering */
  width: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
}